Package: com.vasirakcalgux.volumeboostyt
Name: VolumeBoostYT
Version: 1.0.7
Architecture: iphoneos-arm64
Description: Volume control tweak for YouTube on iOS.
Maintainer: vasirakcalgux
Author: vasirakcalgux
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
