Package: com.vasirakcalgux.volumeboostyt
Name: VolumeBoostYT
Version: 1.1.0
Architecture: iphoneos-arm64
Description: Volume, pitch, and equalizer controls for YouTube on iOS.
Maintainer: vasirakcalgux
Author: vasirakcalgux
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
